<!-- TopAppBar -->
<header
    class="flex justify-between items-center w-full px-margin-mobile md:px-margin-desktop py-sm bg-surface sticky top-0 z-40 shadow-sm border-b border-outline-variant">
    <div class="flex items-center gap-md">
        <span
            class="font-headline-sm text-headline-sm-mobile md:text-headline-sm font-bold text-primary">AutoPart
            Wholesale</span>
    </div>
    <div class="flex items-center gap-md">
        <div
            class="hidden md:flex bg-surface-container rounded-full px-md py-xs items-center gap-sm border border-outline-variant">
            <span class="material-symbols-outlined text-outline" data-icon="search">search</span>
            <input class="bg-transparent border-none focus:ring-0 text-body-md font-body-md w-64"
                placeholder="Search orders, parts..." type="text" />
            <span class="material-symbols-outlined text-outline cursor-pointer" data-icon="mic">mic</span>
        </div>
        <button class="p-sm rounded-full hover:bg-surface-container transition-colors relative">
            <span class="material-symbols-outlined" data-icon="notifications">notifications</span>
            <span class="absolute top-1 right-1 w-2 h-2 bg-error rounded-full"></span>
        </button>
        <div class="flex items-center gap-sm ml-sm">
            <img alt="User profile" class="w-8 h-8 rounded-full border border-outline-variant object-cover"
                data-alt="A professional headshot of a middle-aged male warehouse manager wearing a clean polo shirt. He is standing in a brightly lit, modern office with a blurred industrial background. The lighting is soft and corporate, fitting a premium wholesale business environment with a clean, high-contrast aesthetic."
                src="https://lh3.googleusercontent.com/aida-public/AB6AXuAUuchVmbaTUgMFHMs17spHe3eT-tUf5e5eaYyFWvTHJo70Pa_jkmfMnM_PxzHYz4bTPhQrNFOuk7NMt_VPOBnshNCASyqyHxlaFrt8oJOyfjOXWia9OZdw8NhHR0vohejf2rL8DuHP50NGLK0MBLYunR6OFm0FMPiXHSGrQ5_OJVhAijO4lyneobEbGwJaFf3RFWR7hEyNqBmltl06A6ciZvQAeC52-dHrAAMnEd8oARg4L1hhAFuQnbbs7E-b58n2lXvyMOMVp1A" />
        </div>
    </div>
</header>
